In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# set the plots to display in the Jupyter notebook
%matplotlib inline

In [3]:
# 9.1 Line Plot

# A. Make a dataframe called foot using the "./international_football_results.csv" file
#    Perform a few exploratory data analysis operations before working with the data set

# We'll use the .to_datetime method and .dt.year property to set the "year" column from a string to an integer

data_frame = pd.read_csv("international_football_results.csv")

data_frame["date"] = pd.to_datetime(data_frame["date"]).dt.year

data_frame.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39669 entries, 0 to 39668
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   date        39669 non-null  int64
 1   home_team   39669 non-null  object
 2   away_team   39669 non-null  object
 3   home_score  39669 non-null  int64
 4   away_score  39669 non-null  int64
 5   tournament  39669 non-null  object
 6   city        39669 non-null  object
 7   country     39669 non-null  object
 8   neutral     39669 non-null  bool
dtypes: bool(1), int64(3), object(5)
memory usage: 2.5+ MB

In [4]:
# B. Let's chart how many games occurred in each year:

data_frame["date"].value_counts()

2008    1087
2011    1077
2004    1059
2000    1022
2001    1014
        ...
1878       2
1874       1
1873       1
1875       1
1872       1
Name: date, Length: 147, dtype: int64

In [5]:
# The years are out of order! Fortunately, we can sort our column by its index with sort_index()

data_frame = data_frame.set_index("date", append=True).sort_index()

data_frame

,,home_team,away_team,home_score,away_score,tournament,city,country,neutral
,date,,,,,,,,
0,1872,Scotland,England,0,0,Friendly,Glasgow,Scotland,False
1,1873,England,Scotland,4,2,Friendly,London,England,False
2,1874,Scotland,England,2,1,Friendly,Glasgow,Scotland,False
3,1875,England,Scotland,2,2,Friendly,London,England,False
4,1876,Scotland,England,3,0,Friendly,Glasgow,Scotland,False
...,...,...,...,...,...,...,...,...,...
39664,2018,Uruguay,France,0,2,FIFA World Cup,Nizhny Novgorod,Russia,True
39665,2018,Brazil,Belgium,1,2,FIFA World Cup,Kazan,Russia,True
39666,2018,Sweden,England,0,2,FIFA World Cup,Samara,Russia,True
39667,2018,Russia,Croatia,2,2,FIFA World Cup,Sochi,Russia,False
39668,2018,France,Belgium,1,0,FIFA World Cup,St. Petersburg,Russia,True

In [7]:
# Finally, we're ready to plot the change over time with .plot()

data_frame.plot.line("date", "home_score")

KeyError: 'date'

In [ ]:
# 9.2 Bar Charts
# A. Let's see how many games each country played, represented as a bar chart

data_frame_2 = pd.read_csv("international_football_results.csv")

data_frame_2.head()

In [ ]:
# B. Now let's plot the occurence of specific scores for the home team

fig, ax = plt.subplots(figsize=(10, 5))
grouped_data = data_frame_2.groupby("home_team")
grouped_data.plot(ax = ax, kind = 'bar')

In [ ]:
# C. Instead of sorting from highest to lowest value, let's sort the x axis in ascending order

In [ ]:
# BONUS: Compare the home_score and away_score value counts to analyze home field advantage
# You will need to use the .apply method to use value_counts on each column of a dataframe

In [ ]:
# 9.3 Histograms
# A. Let's start with a new dataset. Create a dataframe called choc from the './chocolate_reviews.csv' file
#    Inspect the data using some exploratory data analysis methods

In [ ]:
# B. Now, let's explore the distribution of ratings
#    i. Start by plotting the Rating column in a histogram

In [ ]:
#    ii. Looking good! Let's see how granular we can get
#        Modify the number of bins to change how ranges are distributed

In [ ]:
#    iii. Now, let's add some descriptive labels to our chart using matplotlib

In [ ]:
# 9.4 Scatter Plots
# A. Is there a connection between Review Date and Rating? Plot them with a scatter plot

# Why is this graph not so helpful?

In [ ]:
# B. Explore this new dataframe, then scatter plot correlation between Total Volume and AveragePrice

In [ ]:
# 9.5 Visualizations to Hypotheses
# Create visualizations around any of the above datasets or our superstore datasets
# For at least one of the visualizations, attach a hypothesis or specific claim the chart supports