In [2]:
# 8.1 EDA Demonstration
import pandas as pnd
%matplotlib inline

In [3]:
# We will store the orders table csv data in a variable
# Tabs are used as the separating character in this file

data = pnd.read_csv("orders.csv")

In [4]:
# Use the head method to investigate the first row of data

data.head(1)

,order_id,order_date,ship_date,ship_mode,customer_id,product_id,sales,quantity,discount,profit,postal_code,region_id
0,AE-2016-1308551,2016-09-28,2016-10-02,Second Class,PO-8865,OFF-FEL-10001405,82.67,2,0.3,0.3,NaN,9954.0

In [5]:
# Create a dataframe to view the column names and data types

data.dtypes

order_id        object
order_date      object
ship_date       object
ship_mode       object
customer_id     object
product_id      object
sales          float64
quantity         int64
discount       float64
profit         float64
postal_code    float64
region_id      float64
dtype: object

In [6]:
# Use the shape attribute to determine the amount of rows and columns total

data.shape

(999991, 12)

In [7]:
# Use the .columns property to list out the column names
# Use the .index.name property to identify the index

data.columns
data.index.name

In [8]:
# Provide a dictionary to the rename method to rename any columns
# The inplace flag determines whether to modify the original dataframe

data.rename(columns={"old name":"type new name"}, inplace=True)

In [9]:
# Explore columns with column attributes and methods

In [10]:
# 8.2 Exploring a new dataset
# Import the products.csv dataset and explore the following questions:

data_2 = pnd.read_csv("products.csv")

In [11]:
# A. What are the columns and index: do they suggest any relationship to other tables?

data_2.head()

,product_id,category,sub_category,product_name,product_cost_to_consumer
0,FUR-ADV-10000002,Furniture,Furnishings,"Advantus Photo Frame, Duo Pack",53.04
1,FUR-ADV-10000108,Furniture,Furnishings,"Advantus Clock, Erganomic",50.01
2,FUR-ADV-10000183,Furniture,Furnishings,"Advantus Photo Frame, Black",15.89
3,FUR-ADV-10000188,Furniture,Furnishings,"Advantus Stacking Tray, Erganomic",24.99
4,FUR-ADV-10000190,Furniture,Furnishings,"Advantus Frame, Duo Pack",111.18

In [12]:
# B. How many rows of data are there?

len(data.index)

999991

In [13]:
# C. What are the types of each column?

for column in data_2.columns:
    print(column)

product_id
category
sub_category
product_name
product_cost_to_consumer

In [14]:
# 8.3 Boolean Filtering
# Let's return to the orders dataset for the rest of the challenges
# Use boolean filtering and DataFrame/DataSeries methods to solve the following challanges:

data.head()

,order_id,order_date,ship_date,ship_mode,customer_id,product_id,sales,quantity,discount,profit,postal_code,region_id
0,AE-2016-1308551,2016-09-28,2016-10-02,Second Class,PO-8865,OFF-FEL-10001405,82.67,2,0.3,0.3,NaN,9954.0
1,AE-2016-1522857,2016-09-04,2016-09-09,Standard Class,PO-8865,TEC-EPS-10004171,78.41,6,0.5,0.5,NaN,4792.0
2,AE-2016-184765,2016-10-03,2016-10-07,Second Class,PO-8865,OFF-FEL-10001405,82.67,2,0.3,0.3,NaN,19848.0
3,AE-2016-1878215,2016-09-15,2016-09-17,Standard Class,PO-8865,TEC-EPS-10004171,78.41,6,0.5,0.5,NaN,1410.0
4,AE-2016-218276,2016-10-09,2016-10-12,Standard Class,PO-8865,TEC-EPS-10004171,78.41,6,0.5,0.5,NaN,1826.0

In [38]:
# A. What is the mean profit of orders where the ship_mode is "Second Class"

# data_second_class = data["ship_mode"] == "Second Class"

data[data["ship_mode"] == "Second Class"]["profit"].mean()

1.0517047992868271

In [41]:
# B. Which product is the most commonly ordered on 2017-06-08 

data[data["order_date"] == "2017-06-08"]["product_id"].value_counts().idxmax()

# product

'OFF-ST-10001963'

In [24]:
# 8.4 Sorting and Filtering

data.head()

,order_id,order_date,ship_date,ship_mode,customer_id,product_id,sales,quantity,discount,profit,postal_code,region_id
0,AE-2016-1308551,2016-09-28,2016-10-02,Second Class,PO-8865,OFF-FEL-10001405,82.67,2,0.3,0.3,NaN,9954.0
1,AE-2016-1522857,2016-09-04,2016-09-09,Standard Class,PO-8865,TEC-EPS-10004171,78.41,6,0.5,0.5,NaN,4792.0
2,AE-2016-184765,2016-10-03,2016-10-07,Second Class,PO-8865,OFF-FEL-10001405,82.67,2,0.3,0.3,NaN,19848.0
3,AE-2016-1878215,2016-09-15,2016-09-17,Standard Class,PO-8865,TEC-EPS-10004171,78.41,6,0.5,0.5,NaN,1410.0
4,AE-2016-218276,2016-10-09,2016-10-12,Standard Class,PO-8865,TEC-EPS-10004171,78.41,6,0.5,0.5,NaN,1826.0

In [33]:
# A. What are the three most profitable orders purchased by customer PO-8865?

data[data["customer_id"] == "PO-8865"]["profit"].nlargest(n = 3)

608      190.80
28981     65.28
3946      61.68
Name: profit, dtype: float64

In [35]:
# B. What are the five orders of product_id TEC-HEW-10002304 with the highest quantity?

data[data["product_id"] == "TEC-HEW-10002304"]["quantity"].nlargest(n = 5)

6

## Recap

We covered a lot of ground! It's ok if this takes a while to gel.

```python

# basic DataFrame operations
df.head()
df.tail()
df.shape
df.columns
df.Index

# selecting columns
df.column_name
df['column_name']

# renaming columns
df.rename({'old_name':'new_name'}, inplace=True)
df.columns = ['new_column_a', 'new_column_b']

# notable columns operations
df.describe() # five number summary
df['col1'].nunique() # number of unique values
df['col1'].value_counts() # number of occurrences of each value in column

# filtering
df[ df['col1'] < 50 ] # filter column to be less than 50
df[ (df['col1'] == value1) & (df['col2'] > value2) ] # filter column where col1 is equal to value1 AND col2 is greater to value 2

# sorting
df.sort_values(by='column_name', ascending = False) # sort biggest to smallest

```


It's common to refer back to your own code *all the time.* Don't hesistate to reference this guide! üêº